th {
    text-align: left;
    padding: 0px;
  }

table th{
    padding: 2em 2em;
}
  
table td {
    padding: 0em 3em 1em;
}
.config-heading{
    font-size: 14px;
    padding: 1em 1em 2em 1em;
} 
.config-sub-heading{
    font-size: 12px;
    font-weight: 600;
    vertical-align: top;
}
.config-sub-heading-value{
    font-size: 12px;
}